.input-wrapper {
  position: relative;
  margin: 0px;
}
.input-wrapper.first {
  margin-top: 28px;
}
.input-inbtn {
  position: absolute;
  top: 6px;
  right: 5px;
  width: 94px;
  height: 33px;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  border: none;
  text-align: center;
}
.input-inbtn.password {
  background-color: #666666;
}
