.wrapper-top {
  margin: 0px auto;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
}
.box-top {
  width: 1180px;
}
.box-top .list-info {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style: none;
  padding: 12px 0px;
}
.box-top .list-info a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #4a4a4a;
  margin-right: 60px;
}

.wrapper-bottom {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 45px 0px 75px 0px;
}
.box-bottom {
  width: 1180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-leftBottom {
  display: flex;
  align-items: center;
}
.textBox-leftBottom {
  margin-left: 46px;
}
.textBox-leftBottom p {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}
.textBox-leftBottom p:last-child {
  margin-top: 18px;
}
/* */
.box-rightBottom {
  border-left: 1px solid #ccc;
  padding-left: 30px;
}
/* .box-rightBottom div {
  text-align: left;
} */
.title-rightBottom {
  font-size: 17px;
  font-weight: 500;
  color: #000;
  margin: 0px 0px 20px 0px;
}
.box-rightBottom .miniTitle {
  width: 68px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
  display: inline-block;
}
.box-rightBottom div :last-child {
  font-size: 14px;
  font-weight: 400;
  color: #4a4a4a;
}
