.loginbox-wrapper {
  display: flex;
  justify-content: space-around;
  width: 1115px;
  height: 578px;
  box-shadow: 2px 2px 7px 0 rgb(0 0 0 / 4%);
  background-color: #fff;
  margin: 68px auto;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-login .title-form {
  margin: 0px;
  margin-bottom: 8px;
  font-size: 25px;
  font-weight: 700;
}
.form-login .text-form {
  font-size: 15px;
  margin: 0px;
  margin-bottom: 35px;
}
.input-login {
  padding: 0px 8px;
  margin-bottom: 10px;
  width: 353px;
  height: 43px;
  border: 1px solid #ccc;
}
.btn-login {
  margin: 27px 0 21px 0;
  width: 353px;
  height: 47px;
  border-radius: 3px;
  background-color: #000;
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.list-loginFinder {
  display: flex;
  list-style: none;
  padding: 0px;
  width: 353px;
  margin: 0px;
}
.list-loginFinder li a {
  text-decoration: none;
  color: #000;
  padding: 0px 20px;
}
.list-loginFinder li + li {
  border-left: 1px solid #dedede;
}

.imgBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgBox-title .imgBox_title {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 28px;
}
