.buttons__btn {
  padding: 14px 26px;
  background-color: #f1f3f5;
  color: #212529;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.buttons a + a {
  margin-left: 16px;
}


