:root {
  --color: #f55454;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url(./img/background02.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* overflow: hidden; */
}
.container-page {
  background-color: var(--color);
  width: 70vw;
  min-height: 80%;
  margin: 0px auto;
  opacity: 0.7;
}
.form-todolist {
  text-align: center;
}
.wrapper-todoinput {
  position: relative;
  width: 50%;
  display: block;
  margin: 0px auto;
}
.input-todovalue {
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
  padding: 14px;
}
.btn-todosubmit {
  background-image: url(./img/pluse01.png);
  background-color: transparent;
  background-size: contain;
  border: none;
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translate(50%, -50%);
  cursor: pointer;
}
nav {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
nav label input {
  margin-right: 5px;
}
nav label {
  display: flex;
  align-items: center;
}
.btn-all-wrapper {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 0px 8px;
  align-items: center;
}
.list-todo {
  padding: 10px 0px;
  list-style: none;
  width: 50%;
  margin: 0px auto;
}
.ltems-todo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 8px 0px;
  border-radius: 5px;
  padding: 8px;
}
.btn-clear-all {
  background: url(./img/trash02.png) no-repeat transparent;
  background-size: contain;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 5px;
}

.btn-clearTodo {
  background: url(./img/trash02.png) no-repeat transparent;
  background-size: contain;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.done {
  opacity: 0.3;
  background-color: aliceblue;
}
.ltems-todo.done .text-todo {
  text-decoration: line-through;
}
