@import url(./component/form.css);
@import url(./component/footer.css);
@import url(./component/input.css);
@import url(./component/header.css);
@import url(./component/general.css);

.form_text.fine_password {
  margin-bottom: 7px;
  margin-top: 26px;
  font-size: 14px;
  /* padding: 0px 5px; */
  width: 100%;
  text-align: left;
  font-weight: 400;
}

.login_btn.fine_password {
  font-size: 13px;
}
