.iconlist__list {
  display: flex;
  list-style: none;
  padding: 0px;
}
.iconlist__item {
  margin: 16px 40px 16px 0px;
}
.iconlist__item:last-child {
  margin-right: 0px;
}
.iconlist__item :nth-child(2) {
  font-size: 14px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 8px;
}
.iconlist__item :nth-child(3) {
  font-size: 13px;
}
.icon--home {
  background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/icon-story-1-9226479b836cdc960291ffda91ace46c90a632f6cc868aa8983b3624e662a924.svg);
  width: 56px;
  height: 56px;
  background-size: 56px 56px;
}
.icon--missing {
  background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/icon-story-2-208bb88cad31e335b40bc8ac5b7684dcf8a36d77ac50770a497a9c967a3bfc4f.svg);
  width: 56px;
  height: 56px;
  background-size: 56px 56px;
}
.icon--commu {
  background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/icon-story-3-0a14d64c6101a7271655747d8401b9f71506578f8a4c0640608074e977bbc7c0.svg);
  width: 56px;
  height: 56px;
  background-size: 56px 56px;
}
