@import url(./component/dropdown.css);
@import url(./component/header.css);
@import url(./component/buttons.css);
@import url(./component/iconlist.css);
@import url(./component/grid.css);
@import url(./component/footer.css);
* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

.section {
  margin-top: 72px;
  padding-top: 24px;
  background-color: #fbf7f2;
}

.section__box {
  position: relative;
  width: 1024px;
  height: 760px;
  margin: 0 auto;
  background-color: #fbf7f2;
  z-index: 0;
}
.section__imgbox {
  position: absolute;
  right: -84px;
  bottom: 0;
  bottom: 0;
  width: 804px;
  height: 685px;
  background: no-repeat
    url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/image-top-68ba12f0da7b5af9a574ed92ca8b3a9c0068db176b566dd374ee50359693358b.png);

  background-size: 804px 685px;
}

.section__titlebox {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.section__titlebox h1 {
  font-size: 48px;
  margin: 0px;
  margin-bottom: 32px;
}

.section__titlebox p {
  word-wrap: break-word;
  margin: 0px;
  width: fit-content;
}

.section.type02 {
  padding: 60px 0px;
  background-color: #fff;
  margin: 0px;
}
.section__box.type02 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
  position: unset;
}
.section__imgbox.type02 {
  background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/image-1-39ac203e8922f615aa3843337871cb654b81269e872494128bf08236157c5f6a.png);
  background-size: 532px 684px;
  width: 532px;
  height: 684px;
  position: unset;
}
.section__titlebox.type02 {
  align-items: flex-start;
}
.section__titlebox.type02 h1 {
  font-size: 40px;
  /* width: 100%; */
  margin-bottom: 24px;
}
.section__titlebox.type02 p {
  margin-bottom: 32px;
}
section .section:nth-child(3) .section__imgbox.type02 {
  background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/image-2-f286322ab98acedf914a05bf77e84c67dcb897c8ccb543e66f6afea9d366d06d.png);
}
section .section:nth-child(4) .section__imgbox.type02 {
  background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/image-3-0c8b631ac2294ac5a3b3e7a3a5580c3e68a3303ad2aded1e84aa57a2e1442786.png);
}

section .section:nth-child(3),
section .section:nth-child(3) .section__box.type02 {
  background-color: #e6f3e6;
}
section .section:nth-child(5),
section .section:nth-child(5) .section__box.type02 {
  background-color: #f8f9fa;
}
section .section:nth-child(5) .section__box.type02 {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  margin-top: 60px;
  height: 100%;
}
section .section:nth-child(5) .section__box.type02 h1 {
  margin-bottom: 80px;
  padding-bottom: 72px;
  font-size: 40px;
}
.btn-more-gird {
  text-decoration: none;
  margin-top: 56px;
  color: #212529;
  font-weight: bold;
}

.keyword--box {
  width: 1024px;
  margin: 40px auto;
}
.keyword--box__title {
  text-decoration: underline;
  color: #212529;
  font-weight: bold;
}
.keyword--box__list {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-left: 40px;
}
.keyword--box__item {
  margin: 16px 32px 16px 16px;
}
.keyword--box__item:last-child {
  margin-right: 0px;
}
.keyword--box__item a {
  text-decoration: none;
  color: #212529;
  font-size: 16px;
}
